Autor: Martín de las Heras

# Práctica 3

En primer lugar, leemos el archivo y creamos una columna extra para el mes y otra para el año:

In [22]:
import pandas as pd

df = pd.read_csv('data_power_ree.csv')
df['Date'] = pd.to_datetime(df['Date'], utc=True)
df['Hora'] = df['Date'].dt.hour
df['Nombre Mes'] = df['Date'].dt.month_name('es_ES.utf8')
df['Mes'] = df['Date'].dt.month
df['Año'] = df['Date'].dt.year
df

,Date,Demanda prevista,Demanda programada,Demanda real,Generación medida total,Generación medida Biogás,Generación medida Biomasa,Generación medida Carbón,Generación medida Ciclo combinado,Generación medida cogeneración,...,Generación medida solar,Generación medida Solar fotovoltaica,Generación medida Solar térmica,Mes,Temperatura media,Precipitaciones,PIB,Hora,Nombre Mes,Año
0,2020-12-31 22:00:00+00:00,154752.0,156834.0,156790.0,27678.083,92.284,465.385,238.098,2641.549,2365.715,...,0.195,0.195,NaN,12,NaN,NaN,NaN,22,Diciembre,2020
1,2020-12-31 23:00:00+00:00,148241.0,147474.0,148337.0,25739.347,92.908,467.897,239.196,2463.653,2304.289,...,0.169,0.169,NaN,12,5.1,74.0,288.651,23,Diciembre,2020
2,2021-01-01 00:00:00+00:00,141439.0,139902.0,141429.0,25392.256,91.740,460.432,238.417,2471.566,2299.577,...,0.215,0.215,NaN,1,5.1,74.0,288.651,0,Enero,2021
3,2021-01-01 01:00:00+00:00,128992.0,128736.0,128946.0,24087.680,90.350,467.257,236.848,2036.932,2292.195,...,0.243,0.243,NaN,1,5.1,74.0,288.651,1,Enero,2021
4,2021-01-01 02:00:00+00:00,118274.0,117792.0,118255.0,22824.842,90.950,463.283,236.162,1711.188,2283.986,...,0.253,0.253,NaN,1,5.1,74.0,288.651,2,Enero,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23327,2023-08-30 18:00:00+00:00,353298.0,354558.0,354217.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,18,Agosto,2023
23328,2023-08-30 19:00:00+00:00,364363.0,364539.0,365476.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,19,Agosto,2023
23329,2023-08-30 20:00:00+00:00,342307.0,340119.0,340923.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,20,Agosto,2023
23330,2023-08-30 21:00:00+00:00,314493.0,314112.0,316583.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,21,Agosto,2023
23331,2023-08-30 22:00:00+00:00,25530.0,25406.0,25109.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,22,Agosto,2023

In [14]:
df.to_csv('data_power_ree_clean.csv')